.numero-circulo {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-bottom: 10px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.numero-comQuantidade {
  background: #f1c40f;
}

.numero-atingiuObjetivo {
  background: #27ae60;
  color: white;
  font-weight: bold;
}

.numero-valor {
  font-size: 1.4rem;
  margin-right: 2px;
  margin-bottom: 10px;
}

.numero-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c0392b;
  color: white;
  padding: 5px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
