<div
  class="numero-circulo"
  [ngClass]="{'numero-comQuantidade': quantidade > 0 && quantidade < objetivo, 'numero-atingiuObjetivo': quantidade >= objetivo}"
>
  <span class="numero-valor">{{ valor }}</span>
  <sub class="numero-badge">{{ quantidade }}</sub>
</div>
