<div class="container">
  <div class="row">
    <div class="center-align col s12">
      <h4>
        Sugestão de números para a Mega-Sena com Angular e RxJS
      </h4>
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="input-field inline col s3">
      <input
        id="inputIntervalo"
        type="number"
        [(ngModel)]="intervalo"
        min="1"
        max="1000"
        [disabled]="simulandoNumeros"
      >
      <label for="inputIntervalo">Intervalo a cada geração (ms):</label>
    </div>

    <div class="input-field inline col s3">
      <input
        id="inputOcorrencias"
        type="number"
        [(ngModel)]="ocorrencias"
        min="1"
        max="100"
        [disabled]="simulandoNumeros"
      >
      <label for="inputOcorrencias">Mínimo de ocorrências:</label>
    </div>

    <div class="col s3">
      <a
        class="waves-effect waves-light btn"
        [ngClass]="{'disabled': simulandoNumeros}"
        (click)="simularComSetInterval()"
      >
        {{ simulandoNumeros ? 'Aguarde...' : 'Simular com setInterval'}}
      </a>
    </div>

    <div class="col s3">
      <a
        #btRxJS
        class="waves-effect waves-light btn"
        [ngClass]="{'disabled': simulandoNumeros}"
        (click)="simularComRxJS()"
      >
        {{ simulandoNumeros ? 'Aguarde...' : 'Simular com RxJS'}}
      </a>
    </div>
  </div>

  <div class="row">
    <div
      class="col s1"
      *ngFor="let numero of numeros"
    >
      <app-numero
        [quantidade]="numero.quantidade"
        [valor]="numero.valor"
        [objetivo]="ocorrenciasBadge"
      ></app-numero>
    </div>
  </div>

</div>
